<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link de Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link de CCS-->
    <link href="../static/css/index.css" rel="stylesheet" type="text/css"/>

    <!-- Link para icono del titulo-->
    <link rel="icon" href="../static/css/index.css" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/nuevaCuenta.css" type="text/css"/>

    <title>Prolearn</title>
</head>

<body id="cuerpo">


<!--
   ==============================================================-->
<!-- Barra de Navegacion -->
<!--
   ==============================================================-->

<header id="promo" class="container-fluid d-flex justify-content-center">
    <p class="mb-0 p-2 fs-6"> Acceso a TODO el CONTENIDO por SOLO <a href="">12.99€</a>
        | Cancela cuando quieras
    </p>
</header>

<nav class="navbar navbar-expand-sm navbar-light p-3" id="Nav">
    <div class="container-fluid">
        <a class="nav-link" href="/templates/index.html">
            <img src="/static/img/icono.png" alt="Logo" width="30" height="24">PROLEARN</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item"><a class="nav-link" href="cursos.html">Cursos</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Precio</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">FAQS</a></li>
                <li class="nav-item"><a class="nav-link" href="../templates/sesion/iniciarSesion.html">Inicio Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--
   ==============================================================-->
<!-- Inicio del Menu -->
<!--
   ==============================================================-->

<section>
    <div id="cuerpo-menu">
        <div id="fondo">
            <img class="img-fluid fondo d-block w-100 " src="/static/img/menu.png" alt="">
        </div>
        <div>
            <div class="wrapper ">
                <h2 class="fs-1">Aprende sin límites.</h2>
                <h2 class="fs-2">
                    Formación flexible y adaptable a tus necesidades.</h2>
            </div>
            <div class="row" id="botones">
                <div class="col-7 col-md-7 col-lg-7"><a href="index.html"><button id="btn1" type="button" class="btn ">Más
                    Información</button></a></div>
                <div class="col-5 col-md-5 col-lg-5"><a href="index.html"><button id="btn2" type="button"
                                                                                  class="btn  ">¡Suscríbete!</button></a></div>
            </div>
        </div>
    </div>
</section>

<!--
   ==============================================================-->
<!-- Inicio de la Cursos -->
<!--
   ==============================================================-->

<div id="titulo1" class="fs-3 my-5">Cursos</div>
<div id="cuerpo-cursos" class="px-5 py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col ">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/AI.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso de Inteligencia Artificial</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/autoCad.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso Introductorio Auto Cad</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/ingles.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso Conversacional de Ingles</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/sql.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso Introductorio MySQL</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/js.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso Introductorio Javascript</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-5 py-5">
                    <a href=".html"><img src="/static/img/python.png" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Curso Introductorio Pyton </h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
   ==============================================================-->
<!-- Inicio de la Planes -->
<!--
   ==============================================================-->

<div id="titulo1" class="fs-3 my-5">Planes</div>
<div id="cuerpo-planes" class="row my-5">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card px-5 py-5">
            <div class="card-body">
                <h2 class="card-title text-center">Mensual</h2>
                <p class="fs-4 card-text text-center">Suscribete al plan premium por 12.99$ Mensual!</p>
                <div class="mx-auto col-4 text-center"><a href="index.html"><button id="btn1" type="button"
                                                                                    class="btn">¡Suscríbete!</button></a></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-4">
        <div class="card px-5 py-5">
            <div class="card-body">
                <h2 class="card-title text-center">Trimestral</h2>
                <p class="fs-4 card-text text-center">Suscribete al plan premium por 34.99$ Trimestral!</p>
                <div class="mx-auto col-4 text-center"><a href="index.html"><button id="btn1" type="button"
                                                                                    class="btn">¡Suscríbete!</button></a></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-4">
        <div class="card px-5 py-5">
            <div class="card-body">
                <h2 class="card-title text-center">Anual</h2>
                <p class="fs-4 card-text text-center">Suscribete al plan premium por 129.99$ Anual!</p>
                <div class="mx-auto col-4 text-center"><a href="index.html"><button id="btn1" type="button"
                                                                                    class="btn">¡Suscríbete!</button></a></div>
            </div>
        </div>
    </div>

</div>


<!--
   ==============================================================-->
<!-- Inicio Preguntas frecuentes -->
<!--
   ==============================================================-->

<div id="titulo1" class="fs-3 my-5">Preguntas frecuentes</div>

<div id="cuerpo-preguntas" class=" my-5">
    <div class="col-12">
        <div class="card px-5 py-5">
            <div class="card-body">
                <p class="fs-4">¿Cómo puedo crear una cuenta en la plataforma?</p>
                <ul class="my-3">
                    <li class="fs-5">
                        Respuesta: Para crear una cuenta, haz clic en el botón "Registrarse" en la esquina superior derecha de la página de inicio y completa el formulario de registro con tus detalles.
                    </li>
                </ul>

                <p class="fs-4">¿Cuáles son las opciones de suscripción disponibles y cómo puedo suscribirme?</p>
                <ul class="fs-5">
                    <li class="fs-5">
                        Ofrecemos suscripciones mensuales, trimestrales y anuales. Para suscribirte, inicia sesión en tu cuenta, ve a la sección de suscripciones y selecciona la opción que mejor se adapte a tus necesidades.
                    </li>
                </ul>

                <p class="fs-4">¿Cada cuanto tiempo se publica nuevo contenido?</p>
                <ul class="fs-5">
                    <li class="fs-5">
                        Intentamos actualizar nuestra pagina cada dos meses, para brindarle una mejor experiencia a nuestros usuarios.
                    </li>
                </ul>

                <p class="fs-4">¿Cómo recupero mi contraseña si la olvidé?</p>
                <ul class="fs-5">
                    <li class="fs-5">
                        Si olvidaste tu contraseña, ve a la página de inicio de sesión y haz clic en "¿Olvidaste tu contraseña?" Se te enviará un enlace de restablecimiento a tu correo electrónico registrado.            </li>
                </ul>

                <p class="fs-4">¿Cómo cancelo mi suscripción?</p>
                <ul class="fs-5">
                    <li class="fs-5">
                        Puedes cancelar tu suscripción en cualquier momento yendo a la sección de configuración de la cuenta y seleccionando la opción de cancelación.            </li>
                </ul>

                <p class="fs-4">¿Cómo puedo acceder a los cursos después de suscribirme?</p>
                <ul class="fs-5">
                    <li class="fs-5">
                        Una vez que te hayas suscrito, podrás acceder a los cursos simplemente navegando a la sección correspondiente después de iniciar sesión en tu cuenta.          </ul>

            </div>
        </div>
    </div>

    <div class="p-2" style="background-color: #2D2C2E; color: white;">
        <header class="container my-3 px-5">
            <div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <p>POLÍTICA DE PRIVACIDAD</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <p> CONDICIONES DE CONTRATACIÓN</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <p> POLÍTICA DE COOKIES</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <p> AVISO LEGAL</p>
                    </div>
                </div>
            </div>
            <footer class="my-3">
                &COPY; Copyright Prolearn 2023
            </footer>
        </header>
    </div>
</div>

</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>